@model SV18T1021021.DomainModel.Employee
@{ }

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/employee/save" method="post" enctype="multipart/form-data">

            <input type="hidden" name="EmployeeID" value="@Model.EmployeeID" />
            <div class="form-group">
                <label class="control-label col-sm-2">Họ:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="LastName" autofocus value="@Model.LastName">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="FirstName" value="@Model.FirstName">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ngày sinh:</label>
                <div class="col-sm-10">
                    <input type="hidden" name="BirthDate" value="@Model.BirthDate"/>
                    <input type="text" class="form-control" name="BirthDateString" value="@string.Format("{0:dd/MM/yyyy}",Model.BirthDate)">
                    @Html.ValidationMessageFor(m=>m.BirthDate,"",new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="Email" value="@Model.Email">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ghi chú:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="Notes" value="@Model.Notes"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh cá nhân:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <input type="hidden" name="Photo" value="@Model.Photo" />
                    <img id="Photo" src="@Model.Photo" class="img img-bordered" style="width:200px" />
                </div>
            </div>

            @if(ViewData.ModelState.IsValid)
            { 
            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    @Html.ValidationSummary()
                    </div>
                </div>
            }
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i> Lưu dữ liệu
                            </button>
                            <a class="btn btn-warning" href="~/employee">
                                <i class="fa fa-ban"></i> Quay lại
                            </a>
                        </div>
                    </div>
        </form>
    </div>
    <div class="box-footer text-center">
    </div>

</div>

