@model SV18T1021021.Models.EmployeePaginationResultModel
@{
    Layout = null;
}

<p style="margin:10px 0 10px 0">
    Có <strong>@Model.RowCount</strong> nhân viên trong tổng số <strong>@Model.PageCount</strong> trang
</p>
<div class="row">
    @foreach (var item in Model.Data)
    {
        <div class="col-sm-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@item.FirstName @item.LastName</h3>
                    <div class="box-tools pull-right">
                        <a class="btn btn-box-tool" href="~/employee/edit/@item.EmployeeID">
                            <i class="fa fa-edit text-primary"></i>
                        </a>
                        <a class="btn btn-box-tool" href="~/employee/delete/@item.EmployeeID">
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="profile-user-img img-responsive img-bordered" src="@item.Photo">
                        </div>
                        <div class="col-sm-8">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <label>Họ và tên:</label>@item.FirstName @item.LastName
                                </li>
                                <li class="list-group-item">
                                    <label>Ngày sinh:</label> @string.Format("{0:dd/MM/yyyy}", item.BirthDate)
                                </li>
                                <li class="list-group-item">
                                    <label>Email:</label> @item.Email
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-justify" style="height:120px; overflow-y:auto">
                            @item.Notes
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    }
</div>
<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="javascripts:;" onclick="doSearch(@i)">@i</a></li>
            }
        }
    </ul>
</div>

